.topStories{
   display: flex;
    flex: 0.6;
   flex-direction: column;
   margin-left: 1px;;
}

.topStories > h3{
    /*padding-right: 540px;*/
    color: rgb(245, 92, 37);
    padding-left: 30px;
    margin-left: 10px;
   
}

